.flex {
  display: flex;
}

.item-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 425px) {
  h1 {
    font-size: 1.5rem;
  }
  p {
    
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 2rem;
  }
}


@media (max-width: 576px) {
  .sm-flex-column {
    flex-direction: column;
  }

}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
  .md-flex-row {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1216px) {
  .container {
    max-width: 1152px;
  }
}

@media (min-width: 1408px) {
  .container {
    max-width: 1344px;
  }
}