
* {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	color: var(--text-color);
	box-sizing: border-box;
	font-size: 18px;
}

:root {
	--title-color: #333333;
	--text-color: #666666;
	--container-color: #f6eeee;
	--input-background-color: #f5f5f5;
	--blue-color: #089fe0;
	--background-gradient: linear-gradient(30deg, #f3959b, #f9b4c5, #fec6c6);
	--red-color: rgb(231, 105, 105);
	--header-color: #d97474;
	--header-color-hover: #d66464;
	--disabled-input-colot: rgb(137, 137, 160);
	--profile-cancel-button-color: rgb(6, 6, 245);
	--profile-save-button-color: rgb(2, 126, 2);
}

body {
	width: 100%;
	min-height: 100vh;
}

.container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	.container {
		max-width: 100%;
	}
}

@media (min-width: 1024px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1216px) {
	.container {
		max-width: 1152px;
	}
}

@media (min-width: 1408px) {
	.container {
		max-width: 1344px;
	}
}
